* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background: rgb(2,0,36);
    background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(121,9,64,1) 52%, rgba(0,212,255,1) 100%);
    color: white;
}

.Home {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
}

.title {
    margin-bottom: 8rem;
}
.title h2 {
    font-size: clamp(1.8rem, 10vw, 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.title h2 figure img {
    margin-left: 1rem;
    width: 8rem;
}

.title h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    animation: intermitance 1.3s infinite;
}


.play {
    margin: 0 auto;
    padding: 0.8em 1.8em;
    border: 1rem solid #17C3B2;
    position: relative;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: bold;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    margin-bottom: 8rem;
}
.play::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #0d7e72;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.play:hover::before {
    width: 105%;
}
.play:hover {
    color: white;
    border: 1rem solid white;
}

.footer {
    display: flex;
    font-size: clamp(1.6rem, 10vw, 2rem);
    align-items: center;
}
.footer figure img {
    margin-left: 1rem;
    width: 5rem;
}

@keyframes intermitance {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}